.titulo{

    font-family: Arial;
    color: rgb(253, 253, 253);
    margin-left: 30%;

}

.mb-3 label{

margin-top: 2%;
 color: white;

}

#formGroupExampleInput{

    width: 20%;

}

#formGroupExampleInput2{

    width: 40%;
    height: 200px;

}

.card{

    background-color: rgb(255, 109, 109);
    margin-top: 5%;
    margin-left: 1%;

}

.texto{

    color: rgb(180, 180, 180);

}

.container-fluid{

    background-color: rgb(175, 2, 2);

}
.nav-link{

    color: white;

}

.navbar {

    background-color: black;

}

.btn {

    background-color: rgb(251, 255, 0);

}

.navbar-brand {

    color: white;

}

.carousel-caption{

    color: white;
    background-color: rgba(0, 0, 0, 0.651);

}

.thumb{

    width: 50px;
    height: 50px;

}

.rodape{

    margin-top: 2%;
    background-color: rgb(102, 12, 12);
    color: white;

}

body{

    background-color: rgb(43, 41, 41);

}